.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .menuTitle {
    font-family: "Architects Daughter", cursive;
    font-size: 60px;
}

.menuList {
    /* width: 70vw; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menuItem h1,
.menuItem p {
    margin-left: 20px;
}


@media(max-width:767px){ /* Mobile & tablet */
    .menu {
        position: absolute;
        top: 24rem;
        left: 24rem;
        margin-left: -12rem;
        margin-top: -5rem;
        width: 34rem;
    }
    .menu .menuTitle {
        position: absolute;
        top: -3rem;
        left: 11rem;
        margin-left: -5rem;
        margin-top: 2rem;
        font-size: 72px;
    }
    .menuList {
        grid-template-columns: 1fr 1fr;
        margin-top: 11rem;
    }
    .menuItem div {
        margin-bottom: 10px;
    }
}

@media(min-width:768px) and (max-width:991px){
    .menu {
        height: 99rem;
    }
    .menu .menuTitle {
        margin-top: -12rem;
        margin-bottom: 3rem;
    }
    .menuList {
        grid-template-columns: 1fr 1fr;
        width: 40rem;
    }
    .menuItem {
        width: 18rem;
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .menu {
        height: 99rem;
    }
}
@media(min-width:1200px) {
    .menu {
        height: 85rem;
    }
    .menuItem {
        width: 25rem;
    }
}


/* @media only screen and (max-width: 1300px) {
.menuList {
    grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 800px) {
.menuList {
    grid-template-columns: 1fr;
}
} */
