.navbar {
    width: 50.3rem;
    height: 100px;
    background-color: #121619;
    display: flex;
}

.navbar .logo {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.navbar .logo img {
    width: 70px;
}

.navbar .links {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 6rem;
}

.navbar a::before,
.navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    border-bottom: solid 3px rgb(221, 169, 56);
}
.navbar a::before { left: 0; }
.navbar a::after {right: 0;}

.navbar a:hover:before,
.navbar a:hover:after {
    width: 50%;
    height: 3px;
}

.navbar a::before,
.navbar a::after {
    transition: all 0.3s ease;
}

.navbar .links button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .links svg {
    font-size: 40px;
}

.navbar #open {
    padding-left: 0px;
}
.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}

/* My Query */

/* small monitor */

@media(max-width:767px){ /* Mobile & tablet */
    .navbar {
        width: 60.1rem;
    }
    .navbar .links a {
        display: none;
    }
    .navbar .links {
        padding-right: 80px;
        justify-content: flex-end;
    }
    .navbar a::before,
    .navbar a::after {
        content: "";
        position: absolute;
        width: 0;
        bottom: 0px;
        border-bottom: solid 0px rgb(221, 169, 56);
    }
    .navbar .logo {
        padding-left: 50px;
    }
    .navbar .links button {
        display: inherit;
    }
}

@media(min-width:768px) and (max-width:991px){
    .navbar {
        width: 56.5rem;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        margin: 2rem;
    }
    .navbar .links button {
        display: none;
    }
    .navbar .links {
        width: 100%;
        padding-right: 20px;
    }
    .navbar a::before,
    .navbar a::after {
        content: "";
        position: absolute;
        width: 0;
        bottom: 0px;
        border-bottom: solid 0px rgb(221, 169, 56);
    }
    .navbar .logo {
        padding-left: 60px;
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .navbar {
        width: 67.6rem;
    }
    .navbar .links button {
        display: none;
    }
}
@media(min-width:1200px) {
    .navbar {
        width: 100%;
    }
    .navbar .links a {
        margin: 6rem;
    }
    .navbar .links button {
        display: none;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        margin: 9rem;
    }
    
    .navbar a::before,
    .navbar a::after {
        content: "";
        position: absolute;
        width: 0;
        bottom: -5px;
        border-bottom: solid 3px rgb(221, 169, 56);
    }
    .navbar a::before { left: 0; }
    .navbar a::after {right: 0;}
    
    .navbar a:hover:before,
    .navbar a:hover:after {
        width: 50%;
        height: 3px;
    }
    
    .navbar a::before,
    .navbar a::after {
        transition: all 0.3s ease;
    }
}


